@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  transition: width 0.5s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .popup {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com 70% de opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%; /* Largura responsiva */
    max-width: 500px; /* Largura máxima */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .popup {
    position: fixed;
    right: 0;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%; /* Largura responsiva */
    max-width: 500px; /* Largura máxima */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .messages {
    margin-bottom: 20%;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 2%;
  }
}
