@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 3%;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  transition: width 0.5s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .popup {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com 70% de opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%; /* Largura responsiva */
    max-width: 500px; /* Largura máxima */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .popup {
    position: fixed;
    right: 0;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%; /* Largura responsiva */
    max-width: 500px; /* Largura máxima */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .messages {
    margin-bottom: 20%;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 2%;
  }
}

.neon-button {
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  transition: 0.5s;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
}

.neon-button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}

.neon-anim {
  position: absolute;
  display: block;
}

.neon-button .neon-anim:nth-child(3) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.neon-button .neon-anim:nth-child(4) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.neon-button .neon-anim:nth-child(5) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.neon-button .neon-anim:nth-child(6) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}


/* Estilos para o botão e a barra de carregamento */
#confirm-payment-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#button-text {
  position: relative;
  z-index: 10;
}

#loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 2s ease-in-out;
  z-index: 5;
}
